<div class="container">
  <div class="content">
    <form class="form-control">
      <label for="author">Author</label>
      <input id="author" type="text" placeholder="Author name"/>
      <button type="submit">Search</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>author</th>
          <th>message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test</td>
          <td>Test2</td>
          <td>mountain</td>
        </tr>
        <tr>
          <td>smoke</td>
          <td>object</td>
          <td>s12</td>
        </tr>
        <tr>
          <td>lift</td>
          <td>quite</td>
          <td>bright</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
